.navbar-toggler {
    cursor: pointer;
}

.text-bold {
    font-family: "RobotoCondensed-Bold";
    font-style: normal;
    font-weight: bold;
}

.form-control {
    border: none;
    border-bottom: 1px solid $grey-lightest;
    border-radius: 0;
    box-shadow: none;
}

.form-group {  
    position: relative;
}

.form-control {
    width: 100%;
    height: 46px;
    font-family: "RobotoCondensed";
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $black;
    padding: 5px 15px;
}

.form-label {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    font-family: "RobotoCondensed";
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $grey-medium;
    transition: .3s;
    margin-top: 17px;
}

.form-control:focus~.form-label,
.form-control:not(:focus):valid~.form-label {
    top: -15px;
    font-size: 10px;
}

input {
    box-shadow: none; 
    border-bottom: 1px solid #EEEEEE;
}

.nav-tabs .nav-link {
    font-family: "RobotoCondensed-Bold";
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    color: $grey-medium;
    border: none;
    text-align: center;
    text-transform: uppercase;
}

.nav-tabs .nav-link.active {
    color: $black;
    border-bottom: 2px solid $red;
}

.table {
    border-bottom: 1px solid $grey-lightest;
}

.table td, .table th {
    padding: 18px 0;
    border-top: 1px solid #EEEEEE;
}

.btn-light {
    border: 1px solid $black;
}

.header__container {
    min-height: 44px;
}

.account__container {
    height: 91vh;
    position: relative;
    background-image: url("../files/account-background-bottom.jpg");
    background-color: #F5F5F5;
    background-repeat: no-repeat;
    background-size: 200% auto;
    background-position: center bottom;
}

.account__content--top {
    margin-top: 75px;
}

.account__content--bottom {
    margin-bottom: 45px;
    margin-top: auto;
}

.header__btn--close {
    float: left;
    font-weight: 100; 
    opacity: 1;
}

main {
    margin-bottom: 90px;
}

.main__title {
    font-family: "RobotoCondensed-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 75px;
}

.text-shadow {
    text-shadow: 1px 1px 2px $white, 0 0 1em $white;
}

.header {
    width: 100%;
}

header {
    background-color: $white;
    padding: 10px 0;
    border-bottom: 1px solid #EEEEEE;
}

nav {
    border-top: 1px solid $grey-lightest;
}

.text-small {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
}

.delivery__label {
    position: relative;
    cursor: pointer;
}

.delivery__label::after {
	content: "";
	width: 10px;
    height: 15px;
    background-image: url("../img/arrow-down-blue.svg");
    background-size: 10px 15px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    bottom: 50%;
    right: 15px;
    transform: translateY(50%);
}

.delivery__input {
    width: 0;
    height: 0;
    appearance: none;
    position: absolute;
}

.delivery__input:checked ~ .delivery__label::after {
    content: "";
    width: 10px;
    height: 15px;
    background-image: url("../img/arrow-up-blue.svg");
    background-size: 10px 15px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    bottom: 50%;
    right: 15px;
    transform: translateY(50%);
}

.delivery__input:checked ~ .delivery__block {
    display: block;
}

.delivery__block {
    display: none;
}

.faq__label {
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.faq__label::after {
	content: "";
	width: 20px;
    height: 20px;
    background-image: url("../img/arrow-down.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    bottom: 50%;
    right: 0;
	transform: translateY(50%);
}

.faq__input {
    width: 0;
    height: 0;
    appearance: none;
    position: absolute;
}

.faq__input:checked ~ .faq__label::after {
    content: "";
    width: 10px;
    height: 15px;
    background-image: url("../img/arrow-up.svg");
    background-size: 10px 15px;
	background-repeat: no-repeat;
    display: block;
    position: absolute;
    bottom: 50%;
    right: 15px;
    transform: translateY(50%);
}

.faq__input:checked ~ .faq__block {
    display: block;
}

.faq__block {
	display: none;
}

li {
    color: $red;
}

li p {
    color: $black;
}

.search-form {
	position: relative;
}

.search-form input {
	border: none;
}

.search-form__input {
	width: 100%;
	padding: 8px 15px 9px 35px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 5px;
	background: #EEEEEE;
	color: $grey-medium;
	outline: none;
}

.search-form__submit {
	position: absolute;
	top: 0;
	left: 0;
	width: 37px;
	height: 100%;
	cursor: pointer;
	background: url("https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png") 50% no-repeat;
	opacity: 0.5;
}

.search-form__submit:hover {
	opacity: 0.8;
}

input[type="search"] {
	-webkit-appearance: none;
}
  
.card {
    border: none;
    border-radius: 0;
}

.sl__item {
    outline: none;
}

.navbar__icon {
    position: relative;
    top: 8px;
    left: 7px;
    width: 12px;
    height: 1.3px;
    background-color: $black;
    margin-bottom: -7px;
}

.navbar__icon::before {
    position: absolute;
    top: 7px;
    left: 0;
    content: "";
    display: block;
    width: 12px;
    height: 1.3px;
    background-color: $black;
}

.navbar__icon.navbar__icon--active {
    transform: rotate(-50deg);
    top: 0;
}

.navbar__icon.navbar__icon--active::before {
    transform: rotate(100deg);
    top: 0;
}

.header__arrow-back {
    position: absolute;
    top: 8px;
    left: 0;
    margin-bottom: -7px;
}

.header__close {
    position: absolute;
    top: 8px;
    left: 0px;
    margin-bottom: -7px;
}

.header__reset {
    position: absolute;
    top: 12px;
    right: 15px;
    margin-bottom: 0;
}

/*Fix for Safari*/
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: none; 
    }

.modal-dialog__sorting {
    margin: 0;
}

.modal-content__sorting {
    border: none;
    border-radius: 0 0 .3rem .3rem;
}

.modal-body__sorting {
    padding: 0;
}

.modal-body__sorting .btn-link {
    color: $grey-medium;
}

.modal-body__sorting .btn-link:hover {
    color: $black;
    font-family: "RobotoCondensed-Bold";
    font-weight: bold;
    border-top: 1px solid $grey-lightest;
    border-bottom: 1px solid $grey-lightest;
    padding: .5rem 0;
    text-decoration: none;
}

.products__button--color {
    width: 10px; 
    height: 10px; 
    border: none; 
    border-radius: 50px; 
    padding: 10px;
    margin-right: 20px;
}

.products__button--color:focus {
    width: 20px; 
    height: 20px;  
    padding: 20px;
    outline: none;
}

.products__button--size {
    width: 40px; 
    height: 40px;  
    border:1px solid $grey-light; 
    border-radius: 50px; 
    background-color: transparent;
    margin-right: 20px;
}

.products__button--size p {
    color: $grey-medium;
}

.products__button--size:focus { 
    border:1px solid $black; 
    outline: none;
}

.products__button--size:focus p {
    color: $black;
}

.size__modal-dialog {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0;
}

.size__modal-content {
    border: none;
    border-radius: 0.3rem 0.3rem 0 0;
}

.size__close {
    position: absolute;
    float: left;
    outline: none;
}


.modal-dialog__size {
    margin: 0;
}

.modal-content__size {
    border: none;
    border-radius: 0 0 .3rem .3rem;
}

.modal-body__size {
    padding: 0;
}

.modal-body__size .btn-link {
    width: 100%;
    color: $grey-medium;
}

.modal-body__size .btn-link:hover {
    color: $black;
    font-family: "RobotoCondensed-Bold";
    font-weight: bold;
    border-top: 1px solid $grey-lightest;
    border-bottom: 1px solid $grey-lightest;
    padding: .5rem 0;
    text-decoration: none;
}

.size__table th {
    padding: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: $black;
    vertical-align: middle;
    font-family: "RobotoCondensed-Bold";
}

.size__table td {
    padding: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: $grey-medium;
    vertical-align: middle;
}

.size__table thead th, .size__table tbody th {
    vertical-align: middle;
    font-family: "RobotoCondensed-Bold";
}

.table .thead-dark th {
    color: $white;
    background-color: $black;
    border-color: $white;
}

.size-table__user-parameters {
    background-color: $grey-bright;
}

.header__btn--back {
    position: absolute;
    top: 42px;
    left: 0;
}

.about__table td, .about__table th {
    font-family: "RobotoCondensed";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    padding: 0 0 5px;
    border: none;
}

.about__table th {
    color: $grey-medium;
}

.progress {
    height: 3px;
}

.progress-bar {
    background-color: $black;
}

.product__img {
    position: relative;
}

.product__img--back {
    position: absolute;
    top: 0;
    left: 0;
}

.product__img--share {
    position: absolute;
    top: 0;
    right: 0;
}

.product__img--photo {
    position: absolute;
    bottom: 15px;
    right: 70px;
}

.product__img--video {
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 0.5rem 0.6rem;
}


/* Dots */

.slick-dots {
    position: absolute;
    left: 0;
    bottom: 25px;
    list-style: none;
    display: block;
    text-align: left;
    padding: 0 10px;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 7px;
        width: 7px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 7px;
            width: 7px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 0;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 25px;
                background: $white;
                border: none;
                opacity: 0.5;
            }
        }
        &.slick-active button:before {
          width: 6px;
          height: 6px;
          border-radius: 25px;
          background: $white;
          border: none;
          opacity: 1;
        }
    }
}





.alert {
    padding: 1rem 1rem 0.75rem;
    margin-bottom: 0;
}

.alert-dismissible {
    padding-right: 1rem;
}

.alert-dismissible .close {
    padding: 0.7rem 1rem;
}

.btn {
    padding: 0.7rem;
}

button.close {
    opacity: 1;
}

.search-form__submit {
    position: absolute;
    top: -2px;
    left: 0;
    width: 37px;
    height: 100%;
    cursor: pointer;
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-size: 40% auto;
    opacity: 1;
}

.slick-list {
    padding: 0 25px 0 10px!important;
}

.px-2 {
    padding-left: 0.25rem!important;
    padding-right: 0.25rem!important;
}

.navbar {
    padding: 0.5rem;
}

.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.main__container--margin {
    margin-right: 15px;
    margin-left: 15px;
}

.btn-block+.btn-block {
    margin-top: 1rem;
}

td a:hover,
td a:focus,
td a:active {
  text-decoration: none;
}

a.black:active,
a.dark:active  {
    color: $black;
}

.body__margin-top--no {
    margin-top: 0;
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0,100px);
}

.card__icon-favorite {
    background: #FFFFFF;
    padding: 14px;
    position: absolute;
    top: 48%;
    right: 7%;
    background-image: url("../files/favorite.svg");
    background-repeat: no-repeat;
    background-size: 19px 19px;
    background-position: 4px 4px;
    
}

.card__icon-favorite--active {
    background: #FFFFFF;
    padding: 14px;
    position: absolute;
    top: 48%;
    right: 7%;
    background-image: url("../files/favorite-active.svg");
    background-repeat: no-repeat;
    background-size: 19px 19px;
    background-position: 4px 4px;
    
}

.catalog__block--title {
    position: relative;
    top: -4.5rem;
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0,0);
}